/* CSS for IterativeAssessedActivityXBlock */

:root {
  --max-width: 800px;
  }

a.LinkButton {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  text-decoration: none;
  padding: 4px;
  border-color: #000000;
  border-radius: 5px;
}

.centered {
  text-align: center;
}

.iaa-feedback-button {
  display: inline-block;
  background: darkblue;
  border-radius: 4px;
  font-family: "arial-black";
  font-size: 14px;
  color: #FFF;
  padding: 8px 12px;
  cursor: pointer;
}

.iaa-feedback-button:disabled {
  background: gray;
}

.iaa-feedback-table {
  text-align: center;
  border-collapse: collapse;
}

.iaa-feedback-table th {
  padding: 10px;
  border: solid black;
  border-width: 1px;
}

.iaa-feedback-table td {
  padding: 10px;
  border: solid black;
  border-width: 1px;
}

.iaa-padded-subtitle {
  padding-bottom: 10px;
}

/* Container */

.iaa-container_block {
  margin: 30px auto;
  position:relative;
  width:var(--max-width);
}


.iaa-container_block .Reconociendo-RedFid{
  min-height: 1px;
  margin-bottom: 70px;
}

.iaa-container_block .Reconociendo-RedFid .exptop { 
  position: absolute;
  width: calc(var(--max-width) - 16px);
  background-repeat: no-repeat;
  height: 52px;
  background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_reconociendo.png);
  background-size: cover;
  left: 16px;
}

.iaa-container_block .Reconociendo-RedFid .expmid {
  position: relative;
  top: 0px;
  height: 100%;
  width: calc( var(--max-width) - 16px);
  box-sizing: border-box;
  border: 2px solid;

  border-color: #df595a;
  overflow: hidden;
  text-align: justify;

  padding-top: 100px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 30px;

  line-height: 24px;
  border-radius: 16px;
  left: 16px;
}