<div class="iaa-container_block xmodule_display xmodule_HtmlModule">
    <div class="Reconociendo-RedFid" id="{{xblock.type}}{{location}}">
        <div class="exptop"><p class="recono-title">{{title}}</p></div>
        <div class="expmid">
            {% if indicator_class == 'unanswered' %}
                <div class="status {{ indicator_class }}" id="status_{{ location }}">
            {% else %}
                <div class="status " id="status_{{ location }}">
            {% endif %}

            {% if block_type == "none" %}
                <div class="iaa-not-created">
                    <p class="centered">Esta actividad no se ha configurado correctamente.</p>
                </div>
            {% endif %}
            {% if block_type == "display" %}
                <meta id="context-iaa" data-context="{{context}}">
                <div>
                    {% if submission_previous_time == "ERROR" %}
                        <p class="author-error">Esta actividad presenta un error. No se puede mostrar la respuesta anterior. Por favor, avise al personal encargado.</p>
                    {% elif submission_previous_time == "EMPTY" %}
                        <p class="author-warning">Aún no proporcionas una respuesta.</p>
                    {% else %}
                        <h3 class="display-title">{{display_title}}</h3>
                        <figure class="submission-previous">
                            <blockquote>
                                {{submission_previous}}
                            </blockquote>
                            <figcaption>
                                {{submission_previous_time}}
                            </figcaption>
                        </figure>
                    {% endif %}
                </div>
            {% endif %}
            {% if block_type == "full" %}
                <meta id="context-iaa" data-context="{{context}}">
                <div>
                    {% if activity_previous %}
                        {% if submission_previous_time == "ERROR" %}
                            <p class="author-error">Esta actividad presenta un error. No se puede mostrar la respuesta anterior. Por favor, avise al personal encargado.</p>
                        {% elif submission_previous_time == "EMPTY" %}
                            <p class="author-warning">Aún no proporcionas una respuesta.</p>
                        {% else %}
                            <h3 class="display-title">{{display_title}}</h3>
                            <figure class="submission-previous">
                                <blockquote>
                                    {{submission_previous}}
                                </blockquote>
                                <figcaption>
                                    {{submission_previous_time}}
                                </figcaption>
                            </figure>
                        {% endif %}
                    {% endif %}
                    <p class="question">{{question}}</p>
                    <textarea class="iaa-submission">{{submission}}</textarea>
                </div>
                <div class="action iaa-action">
                    <button class="iaa-submit" data-checking="Enviando..." data-value="Enviar">
                        <span>Enviar</span>
                    </button>
                </div>
            {% endif %}
            {% if block_type == "summary" %}
                <meta id="context-iaa" data-context="{{context}}">
                <div>
                    <h3 class="summary-text">{{summary_text}}</h3>
                    <p class="activity-name-previous-label">Actividad: {{activity_name}}</p>
                    {% for activity in summary %}
                    <p class="activity-stage-label">Fase: {{activity.0}}</p>
                    <p class="summary-submission">{{activity.1}}</p>
                    <p class="summary-submission-time">{{activity.2}}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <p id="iaa-student-msg"></p>
            </div>
        </div>
    </div>
</div>