<div class="iaaxblock">
    {% if block_type == "none" %}
    <div class="iaa-not-created">
        <p>Please set this block up from Studio.</p>
    </div>
    {% else %}
        {% if block_type == "full" %}

        <h2 class="header-label-author">Aquí podrá ver las respuestas de los estudiantes y proporcionar feedback.</h2>
        <h4>Actividad: {{activity_name}}</h4>
        <h4>Fase: {{activity_stage}}</h4>
        <p>{{var}}</p>
        <table>
            <tr>
                <th hidden>ID</th>
                <th>Estudiante</th>
                <th>Respuesta</th>
                <th>Fecha/Hora Respuesta</th>
                <th>Feedback</th>
                <th>Fecha/Hora Feedback</th>
            </tr>
            {% for student in students %}
            <tr>
                <th hidden>{{student.0}}</th>
                <td>{{student.1}}</td>
                <td>{{student.2}}</td>
                <td>{{student.3}}</td>
                <td><textarea>{{student.4}}</textarea></td>
                <td>{{student.5}}</td>
            </tr>
    
            {% endfor %}


        </table>
        {{students2}}


        {% endif %}
        {% if block_type == "display" %}
        {% endif %}
        {% if block_type == "summary" %}
        {% endif %}

        <div class="action">
        </div>
    {% endif %}
</div>
    